.pay-lines {
  width: 120%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba($color-black, 0.5);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  &-enter-active {
    opacity: 0;
  }

  &-enter-done {
    opacity: 1;
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
  }

  &-exit-active {
    opacity: 1;
    transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
  }

  &-exit-done {
    opacity: 0;
  }
}
